.background-chess {
    background-image: url(../img/background-chess.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
	color:red;
}
p{
	color: red;
}

h3 {
	text-decoration:underline;
}

hr {
	position:absolute;
	left:0px;
	width:440px;
}

#lienzo {
	margin: 60px auto;
	display: block;
  }
   
#moveBlancas {
	position:absolute;
	left:500px;
	top: 120px;
	width:200px;
}

#moveNegras {
	position:absolute;
	left:700px;
	top: 120px;
	width:200px;
}

